{#
  Plantilla HTML base segura para Drupal 10/11.
  NO quitar placeholders.
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
<div class="modal fade" id="roomLightbox" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <img id="roomLightboxImg" class="img-fluid w-100" alt="">
      </div>
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
  </div>
</div>
